SPLICE_IMAGE_TAG=0.5.18
IMAGE_TAG="${SPLICE_IMAGE_TAG}"
COMPOSE_PROJECT_NAME=canton-barebones
SPLICE_BUNDLE_DIR=${HOME}/.canton-dappbooster/splice-localnet
LOCALNET_DIR="${SPLICE_BUNDLE_DIR}/splice-node/docker-compose/localnet"
LOCALNET_ENV_DIR="${LOCALNET_DIR}/env"
SPLICE_COMPOSE_PROJECT_NAME="${COMPOSE_PROJECT_NAME}"
SPLICE_PROFILES=sv,app-user
